{
  "env": {
    "browser": true
  },
  "extends": ["airbnb", "airbnb/hooks", "prettier"],
  "plugins": ["prettier", "unused-imports"],
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "rules": {
    "linebreak-style": 0,
    "eslint linebreak-style": [0, "error", "windows"],
    "react/jsx-filename-extension": [0],
    "react/react-in-jsx-scope": "off",
    "react/jsx-one-expression-per-line": "off",
    "indent": "off",
    "no-unused-vars": "off",
    "unused-imports/no-unused-imports": "error",
    "unused-imports/no-unused-vars": ["warn"],
    "import/prefer-default-export": 0
  }
}
