body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

html {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
